# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Build
dist
build
.next
out
.nuxt
.output
.svelte-kit
.cache
.parcel-cache
.temp
.docusaurus
.fusebox
.serverless

# Dependencies
node_modules
jspm_packages
bower_components
web_modules

# Env
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# Package managers
.npm
.pnpm-store
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Editors / OS
.DS_Store
.vscode-test
.eslintcache
.stylelintcache
.node_repl_history

# Misc
*.tgz
.firebase
.dynamodb
.tern-port
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vite/
